@font-face {
    font-family: "Inika";
    src: url('https: //fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=WDXL+Lubrifont+JP+N&display=swap');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0030-0039,U+0041-005A,U+0061-007A;
}

.header {
    background-color: white;
    border-bottom: 2px solid #f3f3f3;
    max-width: 1230px;
    margin: 0 auto;
}

.header__inner {
    margin: 0 auto;
    padding: 0 15px;
}

main {
    height: 100vh;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__logo {
    color: #887a6d;
    font-size: 36px;
}

.header-nav {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%); 
}