.contact-form__content {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form__title {
    color: #887a6d;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.form {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
}

.form__label--item {
    color: #887a6d;
}

.form__label--required {
    color: #e6b0af;
    border-radius: 3px;
    background: #fff0f0;
}

.form__group-content{
    display: flex;
    width: 70%;
    margin-bottom: 15px;
}

.form__input--text {
    width: 70%;
    margin-right: 30px;
}

.form__input--text input::placeholder {
    color: #d4d0ca;
    font-size: 12px;
}

 .form__input--text input {
    width: 90%;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: none;
 }

.form__radio {
    width: 70%;
    color: #887a6d;
    text-align: left;
}

.form__radio-item {
    margin-right: 40px;
}

